/*Estilos de otros componentes*/
@import url('./footer.css');
@import url('./header.css');
@import url('./jumbotron.css');
@import url('./best_products.css');

/*Estilos generales*/
*{
    box-sizing: border-box;
    margin:0;
    padding:0; 
}

body{
    font-family: arial;
}